.controls-SpoilerHeading__wrapper {
   width: 100%;
   cursor: pointer;
   align-items: center;
   display: inline-flex;
   height: var(--inline_height_spoilerHeading);
}

.controls-SpoilerHeading__icon {
   fill: none;
   margin: 0 auto;
   width: var(--icon-size_spoilerHeading);
   height: var(--icon-size_spoilerHeading);
}

.controls-SpoilerHeading__iconWrapper {
   display: flex;
   order: 1;
   flex-shrink: 0;
   width: var(--inline_height_spoilerHeading);
}

.controls-SpoilerHeading__caption_captionPosition-left {
   order: 0;
}

.controls-SpoilerHeading__caption_captionPosition-right {
   order: 2;
}

.controls-SpoilerHeading__icon_fontColorStyle-secondary {
   fill: var(--icon-color_expanded_spoilerHeading);
}

.controls-SpoilerHeading__icon_fontColorStyle-label {
   fill: var(--icon-color_collapsed_spoilerHeading);
}

.controls-SpoilerHeading__caption_fontColorStyle-secondary {
   color: var(--text-color_expanded_spoilerHeading);
}

.controls-SpoilerHeading__caption_fontColorStyle-label {
   color: var(--text-color_collapsed_spoilerHeading);
}

.ws-is-hover .controls-SpoilerHeading__wrapper:hover {
   .controls-SpoilerHeading__icon_fontColorStyle-secondary {
      fill: var(--icon-color_expanded_hover_spoilerHeading);
   }

   .controls-SpoilerHeading__icon_fontColorStyle-label {
      fill: var(--icon-color_collapsed_hover_spoilerHeading);
   }

   .controls-SpoilerHeading__caption_fontColorStyle-secondary {
      color: var(--text-color_expanded_hover_spoilerHeading);
   }

   .controls-SpoilerHeading__caption_fontColorStyle-label {
      color: var(--text-color_collapsed_hover_spoilerHeading);
   }
}
