.controlsDemo__blockLayout-stack-content {
   background: #eaeaea;
   overflow: hidden;
   flex: 1;
}

.controlsDemo__blockLayout-stack-header {
   height: 38px;
   padding-left: 12px;
}

.controlsDemo__blockLayout-stack-mainContent,
.controlsDemo__blockLayout-stack-contentArea {
   flex: 1;
}

.controlsDemo__blockLayout-stack-sidebar {
   width: 150px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-height: 0;
   flex-shrink: 0;
}

.controlsDemo__blockLayout-stack-sidebar-item {
   height: 32px;
   font-size: 16px;
   font-weight: bold;
   padding: 8px 12px;
   width: 100%;
}
