.controls-CutButton__container {
   display: flex;
   justify-content: center;
}

.controls-CutButton_size-s_theme-@{themeName} {
   margin-top: @margin-top_s_CutButton;
}

.controls-CutButton_size-m_theme-@{themeName} {
   margin-top: @margin-top_m_CutButton;
}

.controls-CutButton_size-l_theme-@{themeName} {
   margin-top: @margin-top_l_CutButton;
}

.controls-CutButton__container_position-center {
   justify-content: center;
}

.controls-CutButton__container_position-start {
   justify-content: flex-start;

   .controls-CutButton_size-s_theme-@{themeName} {
      margin-left: @margin-left_s_CutButton;
   }

   .controls-CutButton_size-m_theme-@{themeName} {
      margin-left: @margin-left_m_CutButton;
   }

   .controls-CutButton_size-l_theme-@{themeName} {
      margin-left: @margin-left_l_CutButton;
   }
}

.controls-CutButton__container_lineHeight-xs_theme-@{themeName} {
   height: @line-height_xs_inputArea;
}

.controls-CutButton__container_lineHeight-s_theme-@{themeName} {
   height: @line-height_s_inputArea;
}

.controls-CutButton__container_lineHeight-m_theme-@{themeName} {
   height: @line-height_m_inputArea;
}

.controls-CutButton__container_lineHeight-l_theme-@{themeName} {
   height: @line-height_l_inputArea;
}

.controls-CutButton__container_lineHeight-xl_theme-@{themeName} {
   height: @line-height_xl_inputArea;
}

.controls-CutButton__container_lineHeight-2xl_theme-@{themeName} {
   height: @line-height_2xl_inputArea;
}

.controls-CutButton__container_lineHeight-3xl_theme-@{themeName} {
   height: @line-height_3xl_inputArea;
}

.controls-CutButton__container_lineHeight-4xl_theme-@{themeName} {
   height: @line-height_4xl_inputArea;
}

.controls-CutButton__container_lineHeight-5xl_theme-@{themeName} {
   height: @line-height_5xl_inputArea;
}
