.controls-Cut_lineHeight-xxs {
  line-height: 14px;
}

.controls-Cut_lineHeight-xxs_lines-3_maxHeight {
  max-height: calc((3 + 1) * 14px);
}

.controls-Cut_lineHeight-xxs_lines-3_height {
  margin-top: calc((3 + 1) * 14px);
}

.controls-CutButton__container_lineHeight-xxs {
  height: 14px;
}
