.controls_theme-@{themeName} {
   --text-color_title_colorful_dark: rgba(255, 255, 255, 0.8);
   --text-color_title_colorful_light: rgba(0, 0, 0, 0.8);
   --text-color_description_colorful_dark: rgba(255, 255, 255, 0.5);
   --text-color_description_colorful_light: rgba(0, 0, 0, 0.5);
}
