.controls_search_theme-@{themeName} {
   // Переменные дял строки поиска
   //
   // Обводка

   --border-color_searchInput:                                                  transparent;
   --border-color_hover_searchInput:                                            #dfdfdf;
   --border-color_focus_searchInput:                                            #dfdfdf;
   --readonly_border-color_searchInput:                                         transparent;
   --border-color_contrast_searchInput:                                         #f0f0f0;
   --border-color_contrast_hover_searchInput:                                   #dfdfdf;
   --border-color_contrast_focus_searchInput:                                   #dfdfdf;
   --border-radius_default_searchInput:                                         100px; //круг


   // Цвета фона

   --background-color_searchInput:                                              #f2f2f2;
   --background-color_contrast_searchInput:                                     #ffffff;

   // Отступы

   --padding-left_searchInput:                                                  var(--offset_m);
   --padding-right_searchInput:                                                 var(--offset_s);
   --trigger_offset_searchInput:                                                var(--offset_2xs);

   // Иконка поиска



   --trigger_m_icon-size_searchInput:                                           var(--icon-size_s);



   --trigger_icon-color_searchInput:                                            var(--secondary_icon-color);
   --trigger_icon-color_hover_searchInput:                                      var(--secondary_hover_icon-color);
   --readonly_trigger_icon-color_searchInput:                                   var(--readonly_color);

   // Иконка сброса

   --reset-button_icon-size_searchInput:                                        var(--icon-size_s);
   --reset-button_icon-color_searchInput:                                       var(--label_text-color);
   // Курсор
   --caret-color_empty_searchInput:                                             var(--placeholder-color_inputText);

   // Переменные для подсказки при неверной раскладке клавиаутры

   --height_searchMisspell:                                                     var(--inline_height_default);


   // Переменные для разворачиваемого поиска


   --input_m-width-expandableSearch:                                            184px;
   --input_l-width-expandableSearch:                                            300px;
   --input_container_l-width-expandableSearch:                                  calc(var(--input_l-width-expandableSearch) + var(--icon-size_m) + var(--close-button_shadow-width-expandableSearch));
   --input_container_m-width-expandableSearch:                                  calc(var(--input_m-width-expandableSearch) + var(--icon-size_m) + var(--close-button_shadow-width-expandableSearch));
   --close-button_icon-background-expandableSearch:                             #ffffff;
   --close-button_shadow-width-expandableSearch:                                10px;
}
