// Переменные для спойлера
.controls_theme-@{themeName} {
  // Иконка Cut
  --background-color_CutButton:                                                var(--background-color);
  --margin-top_s_CutButton:                                                    var(--offset_3xs);
  --margin-top_m_CutButton:                                                    var(--offset_3xs);
  --margin-top_l_CutButton:                                                    var(--offset_xs);
  --margin-left_s_CutButton:                                                   var(--offset_2xs);
  --margin-left_m_CutButton:                                                   var(--offset_xs);
  --margin-left_l_CutButton:                                                   var(--offset_s);
  --height__line_CutButton:                                                    1px;
  --padding-left-right_s_CutButton:                                            8px;
  --padding-left-right_m_CutButton:                                            10px;
  --padding-left-right_l_CutButton:                                            12px;
}
