// Переменные для спойлера
.controls_spoiler_theme-@{themeName} {
   // Переменные для спойлера
   //
   // AreaCut
   --separator_thickness_AreaCut: 1px;
   --margin-horizontal_s_AreaCut: 8px;
   --margin-horizontal_m_AreaCut: 10px;
   --margin-horizontal_l_AreaCut: 12px;
   --shadow_thickness_AreaCut: 5px;
}
