.controls_theme-@{themeName} {
   // Переменные для автодополнения с полем поиска

   --box-shadow-size_suggestSearch: 0 0 6px 0;
   
   
   --tabs_offset-top_suggestSearch: 0;

   // Дополнительные переменные
   --z-index_Scroll-contentEnvironment: 29;
}
