.controls-FilterViewPanel__popup-template {
   background-color: var(--master_item_background-color_list); //цвет такой же как в мастер-деталь

   .controls-StackTemplate__close_button {
      margin-top: calc((var(--heading_height_filterViewPanel) - var(--height_closeButton_link)) / 2);
   }

   .controls-StackTemplate__command_buttons_without_head {
      right: var(--offset_s);
   }

   //https://online.sbis.ru/opendoc.html?guid=4906b727-2dbd-43c9-a940-eaa2304c0852
   .sabyPage-MainLayout__noticeCenterButton {
      display: none;
   }
}
