.controls-InputAreaCut {
   overflow: visible;
   position: relative;
}

.controls-InputAreaCut_active {

   .controls-CutButton__container_extended {

      &:before {
         content: "";
         position: absolute;
         width: 100%;
         height: var(--height__line_CutButton);
         background: var(--border-color);
      }
   }

   .controls-CutButton__container_extended_size-s {
      &:before {
         top: calc(var(--icon_collapsed_height_s_BigSeparator) + var(--margin-top_s_CutButton));
      }
   }

   .controls-CutButton__container_extended_size-m {
      &:before {
         top: calc(var(--icon_collapsed_height_m_BigSeparator) + var(--margin-top_m_CutButton));
      }
   }

   .controls-CutButton__container_extended_size-l {
      &:before {
         top: calc(var(--icon_collapsed_height_l_BigSeparator) + var(--margin-top_l_CutButton));
      }
   }
}

.controls-InputAreaCut__ellipsisWrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.controls-InputAreaCut__ellipsisWrapper_expanded {
   position: absolute;
   left: 0;
   width: 100%;
}

.controls-InputAreaCut__ellipsis {
   position: absolute;
   bottom: 0;
   width: 100%;
}

.controls-InputAreaCut_expanded_lineHeight-xs {
   margin-bottom: var(--line-height_xs_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-s {
   margin-bottom: var(--line-height_s_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-m {
   margin-bottom: var(--line-height_m_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-l {
   margin-bottom: var(--line-height_l_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-xl {
   margin-bottom: var(--line-height_xl_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-2xl {
   margin-bottom: var(--line-height_2xl_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-3xl {
   margin-bottom: var(--line-height_3xl_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-4xl {
   margin-bottom: var(--line-height_4xl_inputArea);
}

.controls-InputAreaCut_expanded_lineHeight-5xl {
   margin-bottom: var(--line-height_5xl_inputArea);
}

.controls-InputAreaCut_lineHeight-xs_lines-1_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-1_height {
   height: calc(var(--line-height_xs_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-1 {
   top: calc(var(--line-height_xs_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-2_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-2_height {
   height: calc(var(--line-height_xs_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-2 {
   top: calc(var(--line-height_xs_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-3_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-3_height {
   height: calc(var(--line-height_xs_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-3 {
   top: calc(var(--line-height_xs_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-4_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-4_height {
   height: calc(var(--line-height_xs_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-4 {
   top: calc(var(--line-height_xs_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-5_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-5_height {
   height: calc(var(--line-height_xs_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-5 {
   top: calc(var(--line-height_xs_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-6_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-6_height {
   height: calc(var(--line-height_xs_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-6 {
   top: calc(var(--line-height_xs_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-7_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-7_height {
   height: calc(var(--line-height_xs_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-7 {
   top: calc(var(--line-height_xs_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-8_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-8_height {
   height: calc(var(--line-height_xs_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-8 {
   top: calc(var(--line-height_xs_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-9_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-9_height {
   height: calc(var(--line-height_xs_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-9 {
   top: calc(var(--line-height_xs_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-xs_lines-10_maxHeight {
   max-height: calc(var(--line-height_xs_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-xs_lines-10_height {
   height: calc(var(--line-height_xs_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs_lines-10 {
   top: calc(var(--line-height_xs_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-1_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-1_height {
   height: calc(var(--line-height_s_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-1 {
   top: calc(var(--line-height_s_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-2_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-2_height {
   height: calc(var(--line-height_s_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-2 {
   top: calc(var(--line-height_s_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-3_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-3_height {
   height: calc(var(--line-height_s_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-3 {
   top: calc(var(--line-height_s_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-4_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-4_height {
   height: calc(var(--line-height_s_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-4 {
   top: calc(var(--line-height_s_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-5_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-5_height {
   height: calc(var(--line-height_s_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-5 {
   top: calc(var(--line-height_s_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-6_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-6_height {
   height: calc(var(--line-height_s_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-6 {
   top: calc(var(--line-height_s_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-7_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-7_height {
   height: calc(var(--line-height_s_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-7 {
   top: calc(var(--line-height_s_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-8_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-8_height {
   height: calc(var(--line-height_s_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-8 {
   top: calc(var(--line-height_s_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-9_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-9_height {
   height: calc(var(--line-height_s_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-9 {
   top: calc(var(--line-height_s_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-s_lines-10_maxHeight {
   max-height: calc(var(--line-height_s_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-s_lines-10_height {
   height: calc(var(--line-height_s_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s_lines-10 {
   top: calc(var(--line-height_s_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-1_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-1_height {
   height: calc(var(--line-height_m_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-1 {
   top: calc(var(--line-height_m_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-2_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-2_height {
   height: calc(var(--line-height_m_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-2 {
   top: calc(var(--line-height_m_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-3_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-3_height {
   height: calc(var(--line-height_m_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-3 {
   top: calc(var(--line-height_m_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-4_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-4_height {
   height: calc(var(--line-height_m_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-4 {
   top: calc(var(--line-height_m_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-5_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-5_height {
   height: calc(var(--line-height_m_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-5 {
   top: calc(var(--line-height_m_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-6_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-6_height {
   height: calc(var(--line-height_m_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-6 {
   top: calc(var(--line-height_m_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-7_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-7_height {
   height: calc(var(--line-height_m_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-7 {
   top: calc(var(--line-height_m_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-8_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-8_height {
   height: calc(var(--line-height_m_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-8 {
   top: calc(var(--line-height_m_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-9_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-9_height {
   height: calc(var(--line-height_m_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-9 {
   top: calc(var(--line-height_m_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-m_lines-10_maxHeight {
   max-height: calc(var(--line-height_m_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-m_lines-10_height {
   height: calc(var(--line-height_m_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m_lines-10 {
   top: calc(var(--line-height_m_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-1_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-1_height {
   height: calc(var(--line-height_l_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-1 {
   top: calc(var(--line-height_l_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-2_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-2_height {
   height: calc(var(--line-height_l_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-2 {
   top: calc(var(--line-height_l_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-3_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-3_height {
   height: calc(var(--line-height_l_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-3 {
   top: calc(var(--line-height_l_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-4_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-4_height {
   height: calc(var(--line-height_l_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-4 {
   top: calc(var(--line-height_l_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-5_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-5_height {
   height: calc(var(--line-height_l_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-5 {
   top: calc(var(--line-height_l_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-6_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-6_height {
   height: calc(var(--line-height_l_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-6 {
   top: calc(var(--line-height_l_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-7_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-7_height {
   height: calc(var(--line-height_l_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-7 {
   top: calc(var(--line-height_l_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-8_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-8_height {
   height: calc(var(--line-height_l_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-8 {
   top: calc(var(--line-height_l_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-9_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-9_height {
   height: calc(var(--line-height_l_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-9 {
   top: calc(var(--line-height_l_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-l_lines-10_maxHeight {
   max-height: calc(var(--line-height_l_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-l_lines-10_height {
   height: calc(var(--line-height_l_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l_lines-10 {
   top: calc(var(--line-height_l_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-1_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-1_height {
   height: calc(var(--line-height_xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-1 {
   top: calc(var(--line-height_xl_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-2_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-2_height {
   height: calc(var(--line-height_xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-2 {
   top: calc(var(--line-height_xl_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-3_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-3_height {
   height: calc(var(--line-height_xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-3 {
   top: calc(var(--line-height_xl_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-4_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-4_height {
   height: calc(var(--line-height_xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-4 {
   top: calc(var(--line-height_xl_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-5_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-5_height {
   height: calc(var(--line-height_xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-5 {
   top: calc(var(--line-height_xl_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-6_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-6_height {
   height: calc(var(--line-height_xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-6 {
   top: calc(var(--line-height_xl_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-7_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-7_height {
   height: calc(var(--line-height_xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-7 {
   top: calc(var(--line-height_xl_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-8_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-8_height {
   height: calc(var(--line-height_xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-8 {
   top: calc(var(--line-height_xl_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-9_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-9_height {
   height: calc(var(--line-height_xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-9 {
   top: calc(var(--line-height_xl_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-xl_lines-10_maxHeight {
   max-height: calc(var(--line-height_xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-xl_lines-10_height {
   height: calc(var(--line-height_xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl_lines-10 {
   top: calc(var(--line-height_xl_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-1_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-1_height {
   height: calc(var(--line-height_2xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-1 {
   top: calc(var(--line-height_2xl_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-2_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-2_height {
   height: calc(var(--line-height_2xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-2 {
   top: calc(var(--line-height_2xl_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-3_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-3_height {
   height: calc(var(--line-height_2xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-3 {
   top: calc(var(--line-height_2xl_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-4_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-4_height {
   height: calc(var(--line-height_2xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-4 {
   top: calc(var(--line-height_2xl_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-5_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-5_height {
   height: calc(var(--line-height_2xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-5 {
   top: calc(var(--line-height_2xl_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-6_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-6_height {
   height: calc(var(--line-height_2xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-6 {
   top: calc(var(--line-height_2xl_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-7_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-7_height {
   height: calc(var(--line-height_2xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-7 {
   top: calc(var(--line-height_2xl_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-8_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-8_height {
   height: calc(var(--line-height_2xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-8 {
   top: calc(var(--line-height_2xl_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-9_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-9_height {
   height: calc(var(--line-height_2xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-9 {
   top: calc(var(--line-height_2xl_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-2xl_lines-10_maxHeight {
   max-height: calc(var(--line-height_2xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-2xl_lines-10_height {
   height: calc(var(--line-height_2xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl_lines-10 {
   top: calc(var(--line-height_2xl_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-1_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-1_height {
   height: calc(var(--line-height_3xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-1 {
   top: calc(var(--line-height_3xl_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-2_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-2_height {
   height: calc(var(--line-height_3xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-2 {
   top: calc(var(--line-height_3xl_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-3_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-3_height {
   height: calc(var(--line-height_3xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-3 {
   top: calc(var(--line-height_3xl_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-4_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-4_height {
   height: calc(var(--line-height_3xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-4 {
   top: calc(var(--line-height_3xl_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-5_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-5_height {
   height: calc(var(--line-height_3xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-5 {
   top: calc(var(--line-height_3xl_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-6_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-6_height {
   height: calc(var(--line-height_3xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-6 {
   top: calc(var(--line-height_3xl_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-7_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-7_height {
   height: calc(var(--line-height_3xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-7 {
   top: calc(var(--line-height_3xl_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-8_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-8_height {
   height: calc(var(--line-height_3xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-8 {
   top: calc(var(--line-height_3xl_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-9_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-9_height {
   height: calc(var(--line-height_3xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-9 {
   top: calc(var(--line-height_3xl_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-3xl_lines-10_maxHeight {
   max-height: calc(var(--line-height_3xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-3xl_lines-10_height {
   height: calc(var(--line-height_3xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl_lines-10 {
   top: calc(var(--line-height_3xl_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-1_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-1_height {
   height: calc(var(--line-height_4xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-1 {
   top: calc(var(--line-height_4xl_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-2_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-2_height {
   height: calc(var(--line-height_4xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-2 {
   top: calc(var(--line-height_4xl_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-3_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-3_height {
   height: calc(var(--line-height_4xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-3 {
   top: calc(var(--line-height_4xl_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-4_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-4_height {
   height: calc(var(--line-height_4xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-4 {
   top: calc(var(--line-height_4xl_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-5_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-5_height {
   height: calc(var(--line-height_4xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-5 {
   top: calc(var(--line-height_4xl_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-6_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-6_height {
   height: calc(var(--line-height_4xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-6 {
   top: calc(var(--line-height_4xl_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-7_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-7_height {
   height: calc(var(--line-height_4xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-7 {
   top: calc(var(--line-height_4xl_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-8_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-8_height {
   height: calc(var(--line-height_4xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-8 {
   top: calc(var(--line-height_4xl_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-9_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-9_height {
   height: calc(var(--line-height_4xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-9 {
   top: calc(var(--line-height_4xl_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-4xl_lines-10_maxHeight {
   max-height: calc(var(--line-height_4xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-4xl_lines-10_height {
   height: calc(var(--line-height_4xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl_lines-10 {
   top: calc(var(--line-height_4xl_inputArea) * (10 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-1_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-1_height {
   height: calc(var(--line-height_5xl_inputArea) * (1 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-1 {
   top: calc(var(--line-height_5xl_inputArea) * (1 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-2_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-2_height {
   height: calc(var(--line-height_5xl_inputArea) * (2 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-2 {
   top: calc(var(--line-height_5xl_inputArea) * (2 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-3_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-3_height {
   height: calc(var(--line-height_5xl_inputArea) * (3 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-3 {
   top: calc(var(--line-height_5xl_inputArea) * (3 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-4_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-4_height {
   height: calc(var(--line-height_5xl_inputArea) * (4 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-4 {
   top: calc(var(--line-height_5xl_inputArea) * (4 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-5_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-5_height {
   height: calc(var(--line-height_5xl_inputArea) * (5 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-5 {
   top: calc(var(--line-height_5xl_inputArea) * (5 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-6_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-6_height {
   height: calc(var(--line-height_5xl_inputArea) * (6 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-6 {
   top: calc(var(--line-height_5xl_inputArea) * (6 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-7_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-7_height {
   height: calc(var(--line-height_5xl_inputArea) * (7 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-7 {
   top: calc(var(--line-height_5xl_inputArea) * (7 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-8_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-8_height {
   height: calc(var(--line-height_5xl_inputArea) * (8 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-8 {
   top: calc(var(--line-height_5xl_inputArea) * (8 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-9_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-9_height {
   height: calc(var(--line-height_5xl_inputArea) * (9 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-9 {
   top: calc(var(--line-height_5xl_inputArea) * (9 + 2));
}

.controls-InputAreaCut_lineHeight-5xl_lines-10_maxHeight {
   max-height: calc(var(--line-height_5xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut_lineHeight-5xl_lines-10_height {
   height: calc(var(--line-height_5xl_inputArea) * (10 + 1));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl_lines-10 {
   top: calc(var(--line-height_5xl_inputArea) * (10 + 2));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xs {
   bottom: calc(-1 * var(--line-height_xs_inputArea) + var(--border-thickness_inputText));
}
.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-s {
   bottom: calc(-1 * var(--line-height_s_inputArea) + var(--border-thickness_inputText));
}
.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-m {
   bottom: calc(-1 * var(--line-height_m_inputArea) + var(--border-thickness_inputText));
}
.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-l {
   bottom: calc(-1 * var(--line-height_l_inputArea) + var(--border-thickness_inputText));
}
.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-xl {
   bottom: calc(-1 * var(--line-height_xl_inputArea) + var(--border-thickness_inputText));
}
.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-2xl {
   bottom: calc(-1 * var(--line-height_2xl_inputArea) + var(--border-thickness_inputText));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-3xl {
   bottom: calc(-1 * var(--line-height_3xl_inputArea) + var(--border-thickness_inputText));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-4xl {
   bottom: calc(-1 * var(--line-height_4xl_inputArea) + var(--border-thickness_inputText));
}

.controls-InputAreaCut__ellipsisWrapper_expanded_lineHeight-5xl {
   bottom: calc(-1 * var(--line-height_5xl_inputArea) + var(--border-thickness_inputText));
}
