.controls-ColumnsView__itemsContainer {
   display: grid;
   flex-direction: row;
   justify-content: flex-start;
   padding: 0 var(--item_offset-horizontal_columns);
}

.controls-ColumnsView_column {
   height: 100%;
   padding: 0 var(--item_offset-horizontal_columns);
   box-sizing: border-box;
}

.controls-ColumnsView__itemV {
   user-select: none;
   box-sizing: border-box;
   box-shadow: var(--item_shadow-size_columns) var(--item_shadow-color_columns);
   display: inline-block;
   margin: var(--item_offset-vertical_columns) 0;
   overflow: hidden;
   vertical-align: top;
   width: 100%;

   .controls-Checkbox {
      margin: var(--checkbox_offset-top_columns) var(--checkbox_offset-right_columns) var(--checkbox_offset-bottom_columns) var(--checkbox_offset-left_columns);
   }
}

.controls-ColumnsView__itemActionsV_inside {
   padding-right: var(--offset-right_itemActions);
   height: var(--height_itemActions_columns);
}

.controls-ColumnsView__itemV:hover {
   box-shadow: var(--item_shadow-size_columns) var(--item_hover_shadow-color_columns);
}

.controls-ColumnsView_column,
.controls-ColumnsView_column-placeholder,
.controls-ColumnsView__itemContent {
   width: 100%;
}

.controls-ColumnsView__item_marker {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   box-sizing: border-box;
   border: 1px solid var(--item_marked_border-color_columns);
   pointer-events: none;
}


.controls-ColumnsView__checkbox_position-default {
   float: left;
   margin-left: var(--offset_s);
   margin-top: var(--offset_xs);
}
