.controls-FilterViewPanel {
   width: var(--width_filterViewPanel);
   height: 100%;
}

.controls-FilterViewPanel-background {
   background-color: var(--background-color-popup_filterViewPanel);
}

.controls-FilterViewPanel__header {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   background-color: var(--background-color-popup_filterViewPanel);
   padding: var(--heading_vertical-offset_filterViewPanel) var(--heading_horizontal-offset_filterViewPanel);
   height: var(--heading_height_filterViewPanel);
   line-height: var(--heading_height_filterViewPanel);
}

.controls-FilterViewPanel__header_backgroundStyle-default {
   background-color: var(--background-color_filterViewPanel);
}

.controls-FilterViewPanel__header_backgroundStyle-filterPanelPopup {
   background-color: var(--background-color-popup_filterViewPanel);
}

.controls-FilterViewPanel__resetButton {
   font-size: var(--button_font-size_filterViewPanel);
   color: var(--button_color_filterViewPanel);
   cursor: pointer;
}

.controls-FilterEditors__list_button-more,
.controls-FilterViewPanel__resetButton:hover {
   text-decoration: underline;
   color: var(--button_color-hover_filterViewPanel);
}

.controls-FilterViewPanel__group-marker {
   position: absolute;
   width: var(--group-marker_size_filterViewPanel);
   height: var(--group-marker_size_filterViewPanel);
   background-color: var(--group-marker_color_filterViewPanel);
   border-radius: 50%;
   top: calc((var(--group_height_filterViewPanel) - var(--group-marker_size_filterViewPanel)) / 2);
   left: calc((var(--padding-left_filterViewPanel) - var(--group-marker_size_filterViewPanel)) / 2);
}

.controls-FilterViewPanel__group-content {
   cursor: pointer;
   color: var(--group_color_filterViewPanel);
   font-size: var(--group_font-size_filterViewPanel);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.controls-FilterViewPanel__groupExpander:hover,
.controls-FilterViewPanel__groupReset-icon:hover,
.controls-FilterViewPanel__groupReset:hover {
   color: var(--button_color-hover_filterViewPanel);
}

.controls-PropertyGrid__groupExpander.controls-FilterViewPanel__groupExpander {
   color: var(--unaccented_icon-color);
   margin: 0 var(--group-expander_horizontal-offset_filterViewPanel);
   cursor: pointer;
   align-self: center;
}

.controls-FilterViewPanel__group {
   display: flex;
   flex-direction: row;
   height: var(--group_height_filterViewPanel);
   overflow: hidden;
}

.controls-FilterViewPanel__group:hover {
   .controls-FilterViewPanel__groupExpander,
   .controls-FilterViewPanel__group-content {
      color: var(--button_color-hover_filterViewPanel);
   }
}

.controls-FilterViewPanel__groupReset {
   cursor: pointer;
   color: var(--group_color_filterViewPanel);
}

.controls-FilterViewPanel__groupReset-icon {
   .icon-size(var(--reset-button_icon-size_filterView));
   display: flex;
   color: var(--reset-button_icon-color_filterView);
   cursor: pointer;
   flex-shrink: 0;
}

.controls-FilterViewPanel__group-wrapper {
   position: relative;
   padding-left: var(--padding-left_filterViewPanel);
}

.controls-FilterViewPanel__group-wrapper-collapsed,
.controls-FilterViewPanel__propertyGrid_itemTemplate {
   margin-bottom: var(--padding-bottom_filterViewPanel);
}

.controls-FilterViewPanel__propertyGrid_itemTemplate {
   margin-left: var(--padding-left_filterViewPanel);
}

.controls-FilterViewPanel__group-header {
   display: flex;
   justify-content: space-between;
   padding-right: var(--padding-right_filterViewPanel);
}

.controls-FilterViewPanel__group-result_wrapper {
   display: flex;
   flex-direction: row;
}

.controls-FilterViewPanel__group-result {
   font-size: var(--group_font-size_filterViewPanel);
}

.controls-FilterViewPanel__propertyGrid.controls-PropertyGrid {
   padding: var(--content_padding_propertyGrid) 0;
}

.controls-FilterViewPanel__propertyGrid_viewMode-default.controls-PropertyGrid {
   padding-bottom: 0;
}

.controls-FilterEditors__list-item {
   padding-left: var(--padding-left_filterViewPanel);
   padding-right: var(--padding-right_filterViewPanel);
}

.controls-FilterViewPanel__propertyGrid-default {
   background-color: var(--background-color_filterViewPanel);
}

.controls-FilterViewPanel__propertyGrid-contrast {
   background-color: var(--background-color-popup_filterViewPanel);
}

.controls-FilterViewPanel__scroll {
   height: 100%;
}

.controls-FilterViewPanel__additional-caption {
   color: var(--caption-additional-editor_color_filterViewPanel);
   margin-right: var(--padding-right_filterViewPanel);
   margin-left: var(--padding-left_filterViewPanel);
   padding-top: var(--additional-editor_vertical-offset_filterViewPanel);
   font-size: var(--caption-additional-editor_font-size_filterViewPanel);
}

.controls-FilterViewPanel__additional-header {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   padding: var(--heading_vertical-offset_filterViewPanel) var(--heading_horizontal-offset_filterViewPanel);
   height: var(--heading_height_filterViewPanel);
   line-height: var(--heading_height_filterViewPanel);
}

.controls-FilterViewPanel__additional-default {
   border-top: var(--border-additional-editor_thickness_filterViewPanel) solid var(--border-additional-editor_color_filterViewPanel);
}

.controls-FilterViewPanel__additional-editors-container {
   flex-grow: 1;
   padding-bottom: var(--additional-editor_vertical-offset_filterViewPanel);
   background-color: var(--background-color_filterViewPanel);

}

.controls-FilterViewPanel__additional-editors {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   box-sizing: border-box;
   padding-left: calc(var(--padding-left_filterViewPanel) - var(--additional-editor_horizontal-offset_filterViewPanel));
   padding-right: var(--padding-right_filterViewPanel);
}

.controls-FilterViewPanel__additional-editor {
   cursor: pointer;
   height: var(--additional-editor_height_filterViewPanel);
   padding: 0 var(--additional-editor_horizontal-offset_filterViewPanel);
   margin-top: var(--additional-editor_margin-top_filterViewPanel);
   border-radius: var(--additional-editor_border-radius_filterViewPanel);
   color: var(--additional-editor_color_filterViewPanel);
}

.controls-FilterViewPanel__additional-editor:hover {
   background: var(--additional-editor-hover_background-color_filterViewPanel);
}

.controls-FilterViewPanel__filter-icon {
   .icon-size(var(--reset-button_icon-size_filterView));
   color: var(--heading_icon_color_filterViewPanel);
}

.controls-FilterViewPanel__filter-caption {
   padding: 0 var(--additional-caption_horizontal-offset_filterViewPanel);
}

.controls-inlineheight-filterPanel {
   height: var(--apply-button_inline-height_menuPopup);
   line-height: var(--apply-button_inline-height_menuPopup);
   width: var(--apply-button_inline-height_menuPopup);
   border-radius: var(--apply-button_border-radius_menuPopup);
   position: absolute;
   right: calc(var(--heading_close-btn_offset_filterViewPanel) + var(--width_closeButton_link) + var(--padding-right_filterViewPanel));
   top: calc((var(--heading_height_filterViewPanel) - var(--apply-button_inline-height_menuPopup)) / 2);
}

.controls-FilterViewPanel__applyButton-default {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--background-color_filterViewPanel);
   height: var(--heading-default_height_filterViewPanel);
   line-height: var(--heading-default_height_filterViewPanel);
   padding-bottom: var(--padding-bottom_filterViewPanel);
}
