.controls-ListEditor__svg {
   display: inline-block;
   flex-shrink: 0;
   width: var(--icon-size_2xs);
   left: calc((var(--offset_2xl) - var(--icon-size_2xs)) / 2);
   top: 0;
}

.controls-ListEditor__borderCircle {
   fill: transparent;
}

.controls-ListEditor__columns {
   position: relative;
}

.controls-EditorList__footer {
   display: flex;
   justify-content: center;
   width: 100%;
}

.controls-ListEditor__column {
   display: flex;
   align-items: center;
   padding-left: var(--offset_2xs);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.controls-EditorList__additional-column {
   color: var(--label_text-color);
}

.controls-Grid__row:hover {
   .controls-ListEditor__borderCircle {
      stroke: var(--border-color);
   }
}

.controls-ListEditor__innerCircle_selected-master {
   fill: var(--inner-circle_color-master_filterViewPanel);
}

.controls-ListEditor__innerCircle_selected-default {
   fill: var(--marker_color);
}

.controls-ListEditor__innerCircle_unselected {
   fill: none;
}

.controls-Grid__row_highlightOnHover_default:hover .controls-Grid__row-cell-background-hover-listEditor,
.controls-Grid__row_highlightOnHover_master:hover .controls-Grid__row-cell-background-hover-listEditor {
   background-color: var(--list-editor_color-hover_filterViewPanel);
}

.controls-FilterEditors__list {
   margin-left: calc(-1 * var(--offset_2xl));
}

.controls-ListEditor__column-img {
   width: var(--icon-size_m);
   height: var(--icon-size_m);
   border-radius: var(--border-radius_s_image);
   margin-right: var(--offset_m);
}
