.controls-FilterEditors__numberRange {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-right: var(--padding-right_filterViewPanel);
   padding-top: var(--padding-top_filterViewPanel);
}

.controls-FilterEditors__numberRange_separator {
   color: var(--separator_color_filterViewPanel);
   padding: 0 var(--separator_horizontal-offset_filterViewPanel);
}

.controls-FilterEditors__numberRange-editor {
   width: 100%;
}
