.controls-listTemplates-ColorfulTemplate {
   background-color: ~"rgb(var(--dominant-color))";
}

.controls-listTemplates-ColorfulTemplate__image {
   height: var(--image_height_s_position_top_rich_tile);
}

.controls-listTemplates-ColorfulTemplate__title_dark {
   color: var(--text-color_title_colorful_dark);
}

.controls-listTemplates-ColorfulTemplate__description_dark {
   color: var(--text-color_description_colorful_dark)
}

.controls-listTemplates-ColorfulTemplate__title_light {
   color: var(--text-color_title_colorful_light);
}

.controls-listTemplates-ColorfulTemplate__description_light {
   color: var(--text-color_description_colorful_light);
}
