.controls-listTemplates__tableCellTemplate__footer {
   color: var(--unaccented_color);
   font-size: var(--font-size_xs);
}

.controls-listTemplates__tableCellTemplate__content {
   flex-direction: column;
   display: flex;
   width: 100%;
   overflow: hidden;
}

.controls-listTemplates__tableCellTemplate__content-withPhoto {
   min-height: var(--inline_height_2xl);
   margin-left: calc(var(--inline_height_2xl) + var(--offset_xs));
}

.controls-listTemplates__tableCellTemplate {
   display: flex;
   width: 100%;
   position: relative;
}

.controls-listTemplates_tableCellTemplate-image {
   height: var(--inline_height_2xl);
   width: var(--inline_height_2xl);
   border-radius: var(--border-radius_s_image);
   flex-shrink: 0;
   position: absolute;
   top: 0;
   left: 0;
}
