.controlsDemo-Dropdown_button_scroll {
   height: 100%;
   margin: 0 10px;
}

.controlsDemo-Dropdown_absolute {
   position: absolute;
   bottom: 0;
}

.controlsDemo__dropdown-button__footerContentTemplate {
   margin-left: 12px;
}

.controlsDemo-Dropdown_button_openToLeft_column {
   margin-left: auto;
}

.ControlsDemo-Page {
   height: 100%;
}
