@import "_theme.less";
@import "../_variables";

.controls_theme-@{themeName} {

    // common
    --primary_color: #e44766;
    --primary_icon-color: var(--primary_color);
    --primary_text-color: var(--primary_color);
    --primary_hover_text-color: #dd2044;

    // buttons
    --primary_hover_background-color_button: #fef1f4;
    --primary_active_background-color_button: #fef1f4;

    // heading
    --primary_icon_background-image_m_headingBack: url('./img/BackArrow.svg');
    --primary_icon_hover_background-image_m_headingBack: url('./img/BackArrow.svg');
    --primary_text-color_heading: #e44766;
    --primary_hover_text-color_heading: #dd2044;

    //tabs
    --unselected_item_text-color_tabs: #000;
    --primary_item_text-color_tabs: #e44766;
    --primary_marker_color_tabs: #e44766;

    // other
    --marker_color: #e44766;
    --master-marker_color_list: #e44766;
    --master_item_selected_text-color_list: #e44766;
    --monthlist_monthview_today_background-color_datePicker: #e44766;

    --primary_scale_color_progressBar: #e44766;
}

.controls_dropdownPopup_theme-@{themeName} {
   // menu
   --marker_color_menu: #e44766;
}
