.controls-AddButton-wrapper {
   display: inline-flex;
   align-items: baseline;
}

.controls-AddButton_state-enable {
   cursor: pointer;
}

.controls-AddButton_state-enable:active {
   .controls-AddButtonText-enable {
      text-decoration: underline;
   }
}

.ws-is-hover {
   .controls-AddButton_state-enable:hover {
      .controls-AddButtonText-enable {
         text-decoration: underline;
      }
   }
}

.controls-AddButton_icon-disable {
   background-image: var(--readonly_icon_background-image_listAddButton);
}

.controls-AddButton_icon-enable {
   background-image: var(--icon_background-image_listAddButton);
}

// В Яндекс браузере для win-XP css переменные поддерживаются не в полном объеме, из-за чего браузер ожидает полный путь с указанием домена
// Поэтому каскадом задаем корректный путь
.ws-is-chrome.ws-is-windows-xp {
   .controls-AddButton_icon-disable {
      background-image: url('../img/AddButtonDisable.svg');
   }

   .controls-AddButton_icon-enable {
      background-image: url('../img/AddButtonEnable.svg');
   }
}

.controls-AddButton__icon {
   height: var(--icon-size_listAddButton);
   width: var(--icon-size_listAddButton);
}

.controls-AddButton__svgWrapper {
   width: var(--icon-size_listAddButton);
   display: inline-flex;
   justify-content: center;
}

.controls-AddButtonText-disable {
   margin-left: var(--icon_offset_listAddButton);
   color: var(--readonly_text-color_listAddButton);
}

.controls-AddButtonText-enable {
   margin-left: var(--icon_offset_listAddButton);
   color: var(--text-color_listAddButton);
}

.controls-AddButton {
   font-size: var(--font-size_listAddButton);
}
