.controls-rating__star_padding-null {
   padding-right: 0;
}

.controls-rating__star_padding-3xs {
   padding-right: var(--offset_3xs);
}
.controls-rating__star_padding-2xs {
   padding-right: var(--offset_2xs);
}

.controls-rating__star_padding-xs {
   padding-right: var(--offset_xs);
}

.controls-rating__star_padding-s {
   padding-right: var(--offset_s);
}

.controls-rating__star_padding-m {
   padding-right: var(--offset_m);
}

.controls-rating__star_padding-l {
   padding-right: var(--offset_l);
}

.controls-rating__star_padding-xl {
   padding-right: var(--offset_xl);
}

.controls-rating__star:last-child {
   padding-right: 0;
}
.ws-is-hover {
   .controls-rating-active:hover {
      cursor: pointer;
   }
}
