// common

@primary_color:                                                #8715c2;
@primary_text-color:                                           #8715c2;
@primary_hover_text-color:                                     #660099;

// buttons
@primary_hover_background-color_button:                        #e8e5f1;
@primary_active_background-color_button:                       #ddd7ed;

// other

@primary_text-color_heading: #8715c2;
@primary_hover_text-color_heading:                             #660099;

@unselected_item_text-color_tabs:                              #000000;

@primary_item_text-color_tabs:                                 #8715c2;
@primary_marker_color_tabs:                                    #8715c2;
@marker_color_list:                                            #8715c2;
@marker_color_checkbox:                                        #8715c2;
@marker_color_switcher:                                        #8715c2;
@master-marker_color_list:                                     #8715c2;
@master_item_selected_text-color_list:                         #8715c2;
@monthlist_monthview_today_background-color_datePicker:        #8715c2;

@marker_color_menu:                                            #8715c2;
@primary_scale_color_progressBar:                              #8715c2;
@primary_icon_background-image_m_headingBack:                  url('./img/BackArrow.svg');
@primary_icon_hover_background-image_m_headingBack:            url('./img/BackArrow.svg');
