.controls-FilterViewPanel__baseEditor-container {
   display: flex;
   align-items: baseline;
}

.controls-FilterViewPanel__baseEditor-cross {
   padding-left: 12px;
}

.controls-FilterViewPanel__baseEditor-cross-icon {
   .icon-size(var(--reset-button_icon-size_filterView));
   color: var(--reset-button_icon-color_filterView);
   cursor: pointer;
}
