html, body {
   height: 100vh; // Есть проблемы с iOS https://developer.apple.com/forums/thread/128949
}

.controls-ApplicationWrapper__scroll {
   height: 100%; // Для страниц с нативным скроллом
}

.controls-ApplicationWrapper__content {
   display: flex;
   min-height: 100%;
}

.controls-ApplicationWrapper__source {
   align-self: flex-start;
}
