.Controls-demo_itemTemplate_hoverBackGroundStyle-content {
    text-align: justify;
}

.controls-itemActionsV_style_primary_theme-default {
    background-color: var(--primary_color);
}

.ws-is-hover {
    .controls-ListView__item_highlightOnHover_primary_theme_default {
        &:hover {
            background-color: var(--primary_color);
        }
    }
}
