.controls-itemActionsV {
  align-items: center;
  display: inline-block;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.controls-itemActionsV__wrapper {
   height: 100%;
   display: inline-flex;
   align-items: center;
}

.controls-itemActionsV__wrapper-isEditing {
  padding-left: var(--item_padding_itemActions);
}

.controls-itemActionsV_visible {
   display: inline-block;
}

.controls-itemActionsV_inside {
   padding-right: var(--offset-right_itemActions);
   height: var(--height_itemActions);
   overflow: hidden;

   &.controls-itemActionsV_editingToolbarVisible {
       height: var(--height_editing_itemActions);
   }
}

.controls-itemActionsV_style_default {
   background-color: var(--background-color_itemActions);
}

.controls-itemActionsV_style_master {
   background-color: var(--master_background-color_itemActions);
}

.controls-itemActionsV_style_masterNew {
   border-radius: var(--master_item_border-radius_list);
   background-color: var(--master-new_background-color_itemActions);
}

.controls-itemActionsV_outside {
  right: 0;
  height: var(--height_outside_itemActions);
   padding-top: var(--offset-top_outside_itemActions);
   padding-right: var(--offset-right_outside_itemActions);
   padding-bottom: var(--offset-bottom_outside_itemActions);
   padding-left: 0;
  box-sizing: border-box;
  &:before {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    border-top: var(--height_outside_itemActions) solid var(--background-color_itemActions);
    border-left: var(--corner_width_outside_itemActions) solid transparent;
    left: calc(-1 * var(--corner_width_outside_itemActions));
  }

  & .controls-itemActionsV__action-area_size {
    width: calc(var(--item_area-size_outside_itemActions) + (var(--item_padding_itemActions) * 2));
    height: var(--item_area-size_outside_itemActions);
  }

  &.controls-itemActionsV_editingToolbarVisible {
    height: var(--height_editing_outside_itemActions);
  }

  &.controls-itemActionsV_style_default:before {
    border-top-color: var(--background-color_itemActions);
  }

  &.controls-itemActionsV_style_master:before {
    border-top-color: var(--master_background-color_itemActions);
  }
}

.controls-itemActionsV__outside_bottom_size-default {
    bottom: calc(-1 * var(--height_outside_itemActions));
}

.controls-itemActionsV__outside_bottom_size-s {
    bottom: calc(var(--item-separator_s_thickness_list) - var(--height_outside_itemActions));
}

.controls-itemActionsV__outside_bottom_size-l {
    bottom: calc(var(--item-separator_l_thickness_list) - var(--height_outside_itemActions));
}

.controls-itemActionsV_outside-spacing {
  height: var(--height_outside_itemActions);
}

.controls-itemActionsV_position_bottomRight {
  bottom: 0;
  right: 0;
}

.controls-itemActionsV_position_topRight {
  top: 0;
  right: 0;
}

.controls-itemActionsV_padding-bottom_default {
  padding-bottom: var(--offset-bottom_itemActions);
}

.controls-itemActionsV_padding-bottom_null {
  padding-bottom: 0;
}
.controls-itemActionsV_padding-top_default {
  padding-top: var(--offset-top_itemActions);
}
.controls-itemActionsV_padding-top_null {
  padding-top: 0;
}
.controls-itemActionsV_editing {
   background-color: var(--background-color_editing_itemActions);

   &::before {
      border-top-color: var(--background-color_editing_itemActions);
   }
}

.controls-itemActionsV_editingToolbarVisible {
  padding-right: 0;
}
// todo https://online.sbis.ru/opendoc.html?guid=803e1e7c-9e4d-4bc2-8627-0b732037d804
.controls-itemActionsV__action .controls-itemActionsV__action_icon {
  display: flex;
}
.controls-itemActionsV__action_icon {
   width: var(--item_icon-size_itemActions);
   height: var(--item_icon-size_itemActions);
   justify-content: center;
}
.controls-itemActionsV__action {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  white-space: nowrap;
  height: 100%;
}

.controls-itemActionsV__action_padding {
  padding: 0 var(--item_padding_itemActions);
}

.controls-itemActionsV_action_padding_null {
   padding: 0;
}

.controls-action_iconStyle_secondary {
  fill: var(--secondary_icon-color);
  color: var(--secondary_icon-color);
  &:hover {
    fill: var(--secondary_hover_icon-color);
    color: var(--secondary_hover_icon-color);
  }
}

.controls-itemActionsV__action_icon_size_m {
   .icon(var(--item_icon-size_itemActions), var(--item_icon_font-family_itemsActions));
   align-items: baseline;
}

.controls-itemActionsV__action_icon_size_s {
  font-size: var(--item_icon-size_editing_itemActions);
  font-family: var(--item_icon_font-family_editing_itemsActions);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: var(--item_icon-size_itemActions);
  height: var(--item_icon-size_itemActions);
  display: inline-flex;
  align-items: center;
}

.controls-itemActionsV__action_title {
   min-height: var(--item_caption_min-height_itemActions);
   color: var(--item_text-color_itemActions);
   font-size: var(--item_font-size_itemActions);
}

.controls-itemActionsV_swiped {
  display: inline-flex;
  visibility: visible;
  opacity: 1;
}

.ws-is-hover {
   .controls-itemActionsV__action:hover .controls-itemActionsV__action_title {
      color: var(--item_hover_text-color_itemActions);
      text-decoration: underline;
   }
}

.controls-itemActionsV_columnScrollDraw {
   position: absolute;
   right: 0;
}

.controls-itemActionsV__icon-with-title {
   padding-right: var(--item_icon-offset_itemActions);
}

// убрать после https://online.sbis.ru/opendoc.html?guid=c558bf80-4cd1-4854-a963-4af211246111
.controls-ItemActions__popup__list {
   margin-top: calc(0px - var(--close-button_offset-top_sticky) - var(--content_padding-top_sticky) - var(--border-thickness_sticky));
   margin-left: calc(var(--close-button_offset-right_sticky) + var(--border-thickness_sticky));
}

@keyframes timeout {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.controls-itemActionsV_adaptive,
.controls-itemActionsV__wrapper_adaptive {
   width: 100%;
   padding: 0;
}

.controls-itemActionsV_action_adaptive {
   width: 100%;
   flex-shrink: 1;
   flex-grow: 1;
}

.ws-is-firefox {
   .icon-SettingsNew.controls-itemActionsV__action_icon::before {
      line-height: calc(var(--item_icon-size_itemActions) - 1);
      transform: rotate(360deg);
   }
}
