.controls-text-chipsSelected {
  color: var(--contrast_text-color);
}

.controls-Button_chips_style-chipsSelected {
  background-color: var(--secondary_background-color_button_functionalButton);
  border-color: var(--secondary_background-color_button_functionalButton);
}

.controls-Button_chips_style-chipsUnselected {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow_ToolbarBox);
}
.ws-is-hover {
  .controls-Button_chips_style-chipsUnselected:hover {
    background-color: var(--hover_background-color);
  }
}

.controls-Chips__button_withMargin {
  margin-right: var(--offset_m);
}

.controls-Chips__wrapper {
  display: inline-flex;
  flex-direction: row;
}

.controls-Button_chips {
  min-width: var(--min-width_button_button);
}

.controls-Button__wrapper_chips_m {
  padding: 0 calc(var(--padding-horizontal_m_button) - var(--border-thickness_button));
}

.controls-Button_chips_m {
  border-radius: var(--border-radius_m_button);
  border: var(--border-thickness_button solid transparent);
}

.controls-Button__wrapper_viewMode-chips {
  justify-content: center;
}
