.controls-Grid__no-rowSeparator {
   border: 0 solid transparent;
}

// Разделители строк

/*
 Вспомогательный класс, вешается на ячейку. Через него задаются правильные отступы ячейке.
 Обеспечивает отсутствие "скачков" при динамической смене размера границы.
 .controls-Grid__row-cell_withRowSeparator_size-null {}
 .controls-Grid__row-cell_withRowSeparator_size-s
 .controls-Grid__row-cell_withRowSeparator_size-l
*/

// Сам сепаратор, его главный класс, дает границы.
.controls-GridView__footer__rowSeparator_size-s,
.controls-Grid__rowSeparator_size-s {
   border: 0 solid transparent;
   border-top-width: var(--item-separator_s_thickness_list);
   border-top-color: var(--item_separator_s_color_list);
}

.controls-GridView__footer__rowSeparator_size-l,
.controls-Grid__rowSeparator_size-l {
   border: 0 solid transparent;
   border-top-width: var(--item-separator_l_thickness_list);
   border-top-color: var(--item_separator_l_color_list);
}

// Первая граница списка, самая верхняя
.controls-Grid__row:first-child,
.controls-ListView__groupHidden:first-child + .controls-Grid__row {
   .controls-Grid__rowSeparator_size-s,
   .controls-Grid__rowSeparator_size-l {
      border-top: none;
   }
}

// Разделители колонок
.controls-Grid__columnSeparator_size-s {
   border-left-style: solid;
   border-left-width: var(--column_separator_s_thickness_grid);
   border-left-color: var(--column_separator_s_color_grid);
}

// Хлебные крошки при горизонтальном скролле фактически не колспанятся вообще, по стандарту они должны разбиватьс на 2 колонки (фикс и скроллируемая).
// Чтобы крошка выглядела по стандарту, уберем на ней разделители колонок.
.controls-Grid__row__searchBreadCrumbs_withoutColumnSeparator .controls-Grid__columnSeparator_size-s {
   border-left-width: 0;
}

// Разделители на шапке и итогах

.controls-Grid__header__rowSeparator_size-s,
.controls-Grid__results__rowSeparator_size-s {
   border: 0 solid transparent;
   border-bottom-width: var(--item-separator_s_thickness_list);
   border-bottom-color: var(--item_separator_s_color_list);
}

.controls-Grid__header__rowSeparator_size-l,
.controls-Grid__results__rowSeparator_size-l {
   border: 0 solid transparent;
   border-bottom-width: var(--item-separator_l_thickness_list);
   border-bottom-color: var(--item_separator_l_color_list);
}
