.controls-CheckboxGroup__group_horizontal {
   display: inline-flex;
   flex-flow: row wrap;
}

.controls-CheckboxGroup__group_vertical {
   display: inline-flex;
   flex-direction: column;
   max-width: 100%;
}

.controls-CheckboxGroup__childGroup {
   margin-left: var(--offset_2xl);
   margin-bottom: var(--offset_s);
}

.controls-CheckboxGroup__item_vertical {
   margin-bottom: var(--offset_s);
}

.controls-CheckboxGroup__item_horizontal {
   margin-right: var(--offset_m);
   margin-bottom: var(--offset_s);
}
