.controls-SortingButton__content_align-left {
   flex-direction: row-reverse;
}

.controls-SortingButton__content_align-default {
   flex-direction: row;
}

.controls-SortingButton__content {
   .baseline-fix();

   display: flex;
   align-items: baseline;
}

.controls-SortingButton,
.controls-SortingButton__content {
   max-width: 100%;
}
.controls-SortingButton__icon {
   align-self: baseline;
   display: inline-block;
   flex-shrink: 0;
   width: var(--icon-size_s);
   height: var(--icon-size_s);
}

.controls-SortingButton__caption {
   cursor: pointer;
   display: inline-flex;
}

.controls-SortingButton_arrow {
   fill: var(--icon-color_gridSortingButton);
   width: var(--icon-size_s);
   height: var(--icon-height_gridSortingButton);
}

.controls-SortingButton__caption {
   font-size: var(--font-size_xs);
   color: var(--text-color_gridSortingButton);
}

.controls-SortingButton__caption.controls-Grid__header-cell__content-ellipsis {
   cursor: pointer;
   display: inline;
}

.controls-SortingButton__caption:active {
   text-decoration: underline;
}

.ws-is-hover {
   .controls-SortingButton__caption:hover {
      text-decoration: underline;
   }
}
