.controls-addButton__wrapper {
   display: inline-flex;
   align-items: center;
   height: 22px;
   cursor: pointer;
   border-radius: 12px;
   border: 1px solid #ccc;
   &:hover {
      border-color: #aab0c1;
   }
}

.controls-addButton__icon {
   position: relative;
   left: -1px;
}

.controls-addButton__popupItemTemplate {
   min-width: 140px;
}

.controls-addButton__popupIconWrapper {
   min-width: 30px;
}

.controls-addButton__caption {
   margin-left: 5px;
   font-size: 15px;
   margin-right: 12px;
}
